<h1>LOCATAIRES</h1>
<% @tenants.each do |tenant| %>
<% display_name = tenant.firstname + ' ' + tenant.lastname %>
<h2><%= link_to display_name, tenant_path(tenant) %></h2>
<% end %>
<% if @tenants.size == 0 %>
	<em> Aucun locataire n'a été trouvé</em>
<% end %>
<br />
<%= link_to "Ajouter un locataire", new_tenant_path %>