<div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2 main">
	<div class="list-item" ng-repeat="building in buildings.items | orderBy:'name'"
		ng-click="pages.changeMode(['show', building.id]);">
		<span class="badge pull-right">
			{{building.number_of_appartments}}
		</span>
		<h4>{{building.name}}</h4>
		<h5>
			{{building.street_number}}, {{building.street_type}} {{building.street_name}} 
			{{building.zipcode}} - {{building.city}}
		</h5>
	</div>
</div>

<div class="col-sm-5 col-sm-offset-7 col-md-6 col-md-offset-6 details">
	<div ng-hide="pages.mode" class="text-center">
		<h1>Sélectionnez un immeuble ou une maison</h1>
	</div>

	<div ng-controller="BuildingDetailsController as building">
		<show-building ng-show="pages.mode[0] === 'show'"></show-building>
	</div>
</div>