<div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2 main">
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchText"/>
		<div class="input-group-addon"><i class="fa fa-search"></i></div>
	</div>
	<div class="list-item" ng-repeat="building in filteredBuildings = (buildings.items | filter:searchText | orderBy:'name')"
		ng-click="buildings.showBuilding(building)">
		<span class="badge pull-right">
			{{building.number_of_appartments}}
		</span>
		<h4>{{building.name}}</h4>
		<h5>
			{{building.street_number}}, {{building.street_type}} {{building.street_name}} 
			{{building.zipcode}} - {{building.city}}
		</h5>
	</div>
  <div class="text-center" ng-hide="filteredBuildings.length">
    <h3>Aucun immeuble trouvé</h3>
  </div>
</div>

<div class="col-sm-5 col-sm-offset-7 col-md-6 col-md-offset-6 details">
	<div ng-hide="buildings.isShowVisible || buildings.isEditVisible || buildings.isNewVisible" class="text-center">
		<h1>Sélectionnez un immeuble ou une maison</h1>
	</div>

	<show-building ng-show="buildings.isShowVisible"></show-building>

	<edit-building ng-show="buildings.isEditVisible"></edit-building>

	<new-building ng-show="buildings.isNewVisible"></new-building>
</div>

<div class="add" ng-click="buildings.newBuilding()"><i class="fa fa-plus"></i></div>