<h3>
	{{buildings.building.name}}
	<button class="btn btn-danger pull-right" style="margin-left:5px" ng-click="buildings.destroy(buildings.building.id)">
		<i class="fa fa-trash-o"></i>
	</button>
	<button class="btn btn-warning pull-right" ng-click="buildings.editBuilding()">
		<i class="fa fa-pencil"></i>
	</button>
</h3>

<h4>
	{{buildings.building.street_number}}, {{buildings.building.street_type}} {{buildings.building.street_name}}
	{{buildings.building.zipcode}} - {{buildings.building.city}}
</h4>

<div ng-controller="AppartmentsIndexController as appartments">
	<h3>Liste des appartements du logement</h3>
	<form class="form-inline">
		<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>N°</th>
					<th>Surface</th>
					<th>Loyer</th>
					<th>Locataire</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody ng-repeat="appart in appartments.items | filter:{building_id: buildings.building.id}:true | orderBy:'number'">
				<tr ng-hide="editAppart">
					<td>{{appart.number}}</td>
					<td>{{appart.area}} m²</td>
					<td>{{appart.rent}} €</td>
					<td>
						<span ng-repeat="tenant in filteredTenants = (buildings.tenants | filter:{appartment_id: appart.id}:true)">
							{{tenant.firstname}} {{tenant.lastname}}
							<span class="has_paid">
								<i class="fa fa-circle" ng-class="{ 'active' : tenant.haspaid}"></i>
							</span>
						</span>
						<span ng-hide="filteredTenants.length">
							Aucun
						</span>
					</td>
					<td>
						<button type="button" class="btn btn-xs btn-warning" ng-click="editAppart=true;appartments.editAppartment(appart)">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="button" class="btn btn-xs btn-danger" ng-click="appartments.destroy(appart.id)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
				</tr>
				<tr ng-show="editAppart">
					<td><input name="number" type="text" class="form-control" ng-model="appartments.appartment.number" required /></td>
					<td><input name="area" type="text" class="form-control" ng-model="appartments.appartment.area" required /></td>
					<td><input name="rent" type="text" class="form-control" ng-model="appartments.appartment.rent" /></td>
					<td></td>
					<td>
						<button type="button" class="btn btn-xs btn-success" ng-click="editAppart=false;appartments.save()">
							<i class="fa fa-check fa-lg"></i>
						</button>
						<button type="button" class="btn btn-xs btn-warning" ng-click="editAppart=false;appartments.cancel()">
							<i class="fa fa-undo fa-lg"></i>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr ng-show="appartments.new_appartment.number">
					<td>{{appartments.new_appartment.number}}</td>
					<td>{{appartments.new_appartment.area | number:2}} m²</td>
					<td>{{appartments.new_appartment.rent | number:2}} €</td>
					<td>Aucun</td>
				</tr>
				<tr>
					<td><input name="number" type="text" class="form-control" ng-model="appartments.new_appartment.number" required /></td>
					<td><input name="area" type="text" class="form-control" ng-model="appartments.new_appartment.area" required/></td>
					<td><input name="rent" type="text" class="form-control" ng-model="appartments.new_appartment.rent"/></td>
					<td></td>
					<td>
						<button type="button" class="btn btn-xs btn-success" ng-click="appartments.save(buildings.building.id)">
							<i class="fa fa-plus"></i>
						</button>
						<button type="button" class="btn btn-xs btn-warning" ng-click="appartments.cancel()">
							<i class="fa fa-undo"></i>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
		</div>
	</form>
</div>
