<div ng-repeat="modif in tenants.tenantToEdit">
  <span ng-init="tenants.modif = modif"></span>
<h1>Modification du locataire</h1>
<form class="form-horizontal" ng-submit="tenants.update(tenants.modif.id)">
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="button" class="btn btn-info" ng-click="changeAppart=true" ng-hide="changeAppart">
				Changer d'appartment
			</button>
		</div>
	</div>
	<div class="form-group" ng-show="changeAppart">
		<label class="col-sm-2 control-label">Immeuble</label>
		<div class="col-sm-4" ng-controller="BuildingsIndexController as buildings">
			<select class="form-control" ng-model="tenants.building" convert-to-number>
				<option ng-repeat="building in buildings.items" value="{{building.id}}">{{building.name}}</option>
			</select>
		</div>
		<label class="col-sm-2 control-label">Appartement</label>
		<div ng-show="tenants.building" class="col-sm-4" ng-controller="AppartmentsIndexController as appartments">
			<select class="form-control" ng-model="tenants.modif.appartment_id" convert-to-number>
				<option ng-repeat="appart in appartments.items | filter: { building_id: tenants.building }" value="{{appart.id}}">
					{{appart.number}}
				</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Prénom</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.firstname" />
		</div>
		<label class="col-sm-1 control-label">Nom</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.lastname" />
		</div>
		<label class="col-sm-3 control-label">Date de naissance</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.birthdate" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Téléphone</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="tenants.modif.phone" />
		</div>
		<label class="col-sm-3 control-label">Téléphone des parents</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="tenants.modif.parentsphone" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-9">
			<input class="form-control" type="text" ng-model="tenants.modif.email" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Date d'entrée</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.startdate" />
		</div>
		<label class="col-sm-2 control-label">Date de sortie</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.enddate" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Allocation (CAF)</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.cafamount" />
		</div>
		<label class="col-sm-2 control-label">Loyer</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.rent" />
		</div>
		<label class="col-sm-3 control-label">Internet ?</label>
		<div class="col-sm-1 checkbox-inline">
			<input type="checkbox" ng-model="tenants.modif.internet" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Solde</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.modif.solde" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-success" ng-click="pages.changeMode(['show', tenants.modif.id])">Modifier</button>
			<button type="button" class="btn btn-warning" ng-click="tenants.reset(); pages.changeMode(['show', tenants.modif.id])">Annuler</button>
		</div>
	</div>
</form>
</div>