<div class="col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-2 main">
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchText"/>
		<div class="input-group-addon"><i class="fa fa-search"></i></div>
	</div>
	<div class="list-item" ng-repeat="tenant in filteredTenants = (tenants.items | filter:searchText | orderBy:'lastname')"
		ng-click="tenants.showTenant(tenant)">
		<span class="has_paid pull-right">
			<i class="fa fa-circle" ng-class="{ 'active' : tenant.haspaid}"></i>
		</span>
		<h4>{{tenant.firstname}} {{tenant.lastname}}</h4>
		<h5>
			<span ng-repeat="appart in tenants.appartments | filter:{ id: tenant.appartment_id}">
				<span ng-repeat="building in tenants.buildings | filter:{ id: appart.building_id }:true">
					{{building.name}} - N°{{appart.number}}
				</span>
			</span>
		</h5>
	</div>
  <div class="text-center" ng-hide="filteredTenants.length">
    <h3>Aucun locataire trouvé.</h3>
  </div>
</div>

<div class="col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 details">
	<show-tenant ng-show="tenants.isShowVisible"></show-tenant>

	<edit-tenant ng-show="tenants.isEditVisible"></edit-tenant>
    
    <new-tenant ng-show="tenants.isNewVisible"></new-tenant>

	<div ng-hide="tenants.isShowVisible || tenants.isEditVisible || tenants.isNewVisible" class="text-center">
		<h1>Sélectionnez un locataire</h1>
		<h2>ou</h2>
		<h1><button type="button" class="btn btn-success btn-lg" ng-click="tenants.newTenant()">Ajoutez un locataire</div></h1>
	</div>
</div>

<!-- <div class="add" ng-click="tenants.newTenant()"><i class="fa fa-plus"></i></div> -->