<h1>Ajout d'un locataire</h1>
<form class="form-horizontal" ng-submit="tenants.save()">
	<div class="form-group">
		<label class="col-sm-2 control-label">Immeuble</label>
		<div class="col-sm-4" ng-controller="BuildingsIndexController as buildings">
			<select class="form-control" ng-model="tenants.building" convert-to-number>
				<option ng-repeat="building in buildings.items" value="{{building.id}}">{{building.name}}</option>
			</select>
		</div>
		<label class="col-sm-2 control-label">Appartement</label>
		<div ng-show="tenants.building" class="col-sm-4" ng-controller="AppartmentsIndexController as appartments">
			<select class="form-control" ng-model="tenants.tenant.appartment_id" convert-to-number>
				<option ng-repeat="appart in appartments.items | filter: { building_id: tenants.building } | orderBy:'number'" value="{{appart.id}}">
					{{appart.number}}
				</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Prénom</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.firstname" required />
		</div>
		<label class="col-sm-1 control-label">Nom</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.lastname" required />
		</div>
		<label class="col-sm-3 control-label">Date de naissance</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.birthdate" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Téléphone</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="tenants.tenant.phone" />
		</div>
		<label class="col-sm-3 control-label">Téléphone des parents</label>
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="tenants.tenant.parentsphone" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Adresse des parents</label>
		<div class="col-sm-9">
			<input class="form-control" type="text" ng-model="tenants.tenant.parentsaddress" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-9">
			<input class="form-control" type="text" ng-model="tenants.tenant.email" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Date d'entrée</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.startdate" />
		</div>
		<label class="col-sm-2 control-label">Date de sortie</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.enddate" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Allocation (CAF)</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.cafamount" />
		</div>
		<label class="col-sm-2 control-label">Loyer</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.rent" />
		</div>
		<label class="col-sm-3 control-label">Internet ?</label>
		<div class="col-sm-1 checkbox-inline">
			<input type="checkbox" ng-model="tenants.tenant.internet" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Solde</label>
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="tenants.tenant.solde" />
		</div>
		<label class="col-sm-3 control-label">Moyen de paiement</label>
		<div class="col-sm-3">
			<select class="form-control" ng-model="tenants.tenant.payment">
				<option>Liquide</option>
				<option>Chèque</option>
				<option>Virement</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-success">Ajouter</button>
			<button type="button" class="btn btn-warning" ng-click="tenants.cancel()">Annuler</button>
		</div>
	</div>
</form>