<div ng-hide="tenants.isToDoVisible">
	<div class="row">
		<div class="panel panel-default panel-flat">
			<div class="panel-heading">
				<span ng-repeat="appart in tenants.appartments | filter:{id: tenants.tenant.appartment_id}:true">
					<span ng-repeat="building in tenants.buildings | filter:{id: appart.building_id}:true">
						<span ng-init="tenants.address = building"></span>
						{{building.name}} - N°{{appart.number}}
					</span>
				</span>
				<div class="pull-right">
					<button class="btn btn-warning btn-xs" ng-click="tenants.editTenant()">
						<i class="fa fa-pencil"></i>
					</button>
					<button class="btn btn-danger btn-xs" ng-click="tenants.editTenant()">
						<i class="fa fa-trash-o"></i>
					</button>
				</div>
			</div>
			<div class="panel-body">
				<address>
					<strong>
						{{tenants.tenant.firstname}} {{tenants.tenant.lastname}}
					</strong>
					<div ng-show="tenants.tenant.haspaid" class="text-success">
						<i class="fa fa-check"></i> &nbsp; A payé le mois en cours
					</div>
					<div ng-hide="tenants.tenant.haspaid" class="text-danger">
						<i class="fa fa-ban"></i> &nbsp; N'a pas payé le mois en cours
					</div>
				</address>
				<div class="col-sm-4">
					Né(e) le {{tenants.tenant.birthdate | date:'dd/MM/y'}} <br />
					<i class="fa fa-phone"></i> &nbsp; 0{{tenants.tenant.phone}} <br />
					<i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:{{tenants.tenant.email}}">{{tenants.tenant.email}}</a> <br />
					Entrée le {{tenants.tenant.startdate | date:'dd/MM/y'}} <br />
					Sortie le {{tenants.tenant.enddate | date:'dd/MM/y'}} <br />
				</div>
				<div class="col-sm-4">
					<div class="col-xs-8">
						Allocations <br />
						Loyer <br />
						Internet ? <br />
						Solde (à payer) <br />
						Moyen de paiement
					</div>
					<div class="col-xs-4">
						{{tenants.tenant.cafamount}} € <br />
 						{{tenants.tenant.rent}} € <br />
						{{ (tenants.tenant.internet) ? "Oui" : "Non" }} <br />
						{{tenants.tenant.solde}} € <br />
						{{tenants.tenant.payment}} <br />
					</div>
				</div>
				<div class="col-sm-4">
					Adresse des parents <br/>
					<strong>{{tenants.tenant.parentsaddress}}</strong> <br />
					<i class="fa fa-phone"></i> &nbsp; 0{{tenants.tenant.parentsphone}} <br />
				</div>
			</div>
			<div class="panel-footer">
				<div ng-show="tenants.tenant.haspaid">
					<a href ng-click="tenants.hasPaid(false)" class="btn btn-danger btn-xs">
						<i class="fa fa-undo"></i> &nbsp; Annuler le paiement
					</a>
				</div>
				<div ng-hide="tenants.tenant.haspaid">
					<a href ng-click="tenants.hasPaid(true)" class="btn btn-success btn-xs">
						<i class="fa fa-save"></i> &nbsp; Enregistrer le paiement
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="box-tenant" ng-click="tenants.toggleModal()">
			<i class="fa fa-envelope-o fa-4x"></i><br /><br />
			{{tenants.showModal}}
			CAF
		</div>
		<div class="box-tenant" ng-click="tenants.isToDoVisible = true">
			<i class="fa fa-check fa-4x"></i><br /><br />
			TO-DO
		</div>
		<div class="box-tenant"
			ng-click="tenants.sendEmail(tenants.tenant.email,
									'[Rappel] Loyer ce mois-ci',
									tenants.remindRent(tenants.tenant.firstname))">
			<i class="fa fa-bell-o fa-4x"></i><br /><br />
			RAPPEL
		</div>
		<div class="box-tenant">
			<i class="fa fa-eur fa-4x"></i><br /><br />
			HISTORIQUE
		</div>
	</div>
</div>

<div ng-show="tenants.isToDoVisible" ng-controller="TasksIndexController as tasks">
	<h3 class="text-center">Liste des choses à faire</h3>

	<form class="form-inline" ng-submit="tasks.save(tenants.tenant.id)">
		<table class="table">
			<thead>
				<tr>
					<th>Tâche</th>
					<th>Pour le</th>
					<th>Etat</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody ng-repeat="task in filteredTasks = (tasks.items | orderBy:'-dueto' | filter:{tenant_id: tenants.tenant.id}:true)">
				<tr class="todo_state" ng-class="{'done': task.state}">
					<td>{{task.label}}</td>
					<td>{{task.dueto | date:'dd/MM/y'}}</td>
					<td>
						<i class="fa fa-check" style="cursor: pointer;" ng-click="tasks.toggleState(task)"></i>
					</td>
					<td>
						<button type="button" class="btn btn-warning btn-sm" ng-click="">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm" ng-click="tasks.destroy(task.id)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr ng-hide="filteredTasks.length || tasks.task.label">
					<td>
						Aucune tâche trouvée.
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr ng-show="tasks.task.label" class="todo_state" ng-class="{'done': tasks.task.state}">
					<td>{{tasks.task.label}}</td>
					<td>{{tasks.task.dueto | date:'dd/MM/y'}}</td>
					<td><i class="fa fa-check"></i></td>
					<td></td>
				</tr>
				<tr>
						<td><input type="text" class="form-control" ng-model="tasks.task.label" required /></td>
						<td><input type="date" class="form-control" ng-model="tasks.task.dueto" /></td>
						<td><input type="checkbox" ng-model="tasks.task.state" /></td>
						<td><button type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button></td>
				</tr>
			</tfoot>
		</table>
	</form>

	<!-- Modal -->
	<modal title="Mail à la CAF" visible="tenants.showModal">
		Objet : <input type="text" />
	</modal>

	<div class="text-center">
		<button type="button" class="btn btn-warning btn-sm" ng-click="tenants.isToDoVisible = false">
			<i class="fa fa-undo"></i>
			Retour à la fiche du locataire
		</button>
	</div>
</div>
