<h3>{{tenants.tenant.firstname}} {{tenants.tenant.lastname}}</h3>

<button class="btn btn-danger pull-right"
	ng-click="tenants.destroy(tenants.tenant.id); pages.resetMode()">Supprimer</button>
<button class="btn btn-warning pull-right" 
	ng-click="pages.changeMode(['edit', tenants.tenant.id])">
	Modifier
</button>

<div class="col-sm-3 col-md-3 text-middle">
	<strong>Date de naissance</strong><br />
	<strong>Téléphone</strong><br />
	<strong>Téléphone des parents</strong><br />
	<strong>Email</strong><br />
	<strong>Date d'entrée</strong><br />
	<strong>Date de sortie</strong><br />
	<strong>Allocations (CAF)</strong><br />
	<strong>Loyer</strong><br />
	<strong>Internet</strong><br />
	<strong>Solde (à payer)</strong><br />
</div>
<div class="col-sm-6 col-md-6">
	{{tenants.tenant.birthdate | date:'d/M/y'}} <br />
	0{{tenants.tenant.phone}} <br />
	0{{tenants.tenant.parentsphone}} <br />
	<a href="mailto:{{tenants.tenant.email}}">{{tenants.tenant.email}}</a> <br />
	{{tenants.tenant.startdate | date:'d/M/y'}} <br />
	{{tenants.tenant.enddate | date:'d/M/y'}} <br />
	{{tenants.tenant.cafamount}} € <br />
	{{tenants.tenant.rent}} € <br />
	{{ (tenants.tenant.internet) ? "Oui" : "Non" }} <br />
	{{tenants.tenant.solde}} € <br />
</div>
