<h3>{{showTenant.tenant.firstname}} {{showTenant.tenant.lastname}}</h3>

<button class="btn btn-danger pull-right">Supprimer</button>
<button class="btn btn-warning pull-right" 
	ng-click="pages.changeMode('edit', showTenant.tenant.id)">
	Modifier
</button>

<div class="col-sm-3 col-md-3 text-middle">
	<strong>Date de naissance</strong><br />
	<strong>Téléphone</strong><br />
	<strong>Téléphone des parents</strong><br />
	<strong>Email</strong><br />
	<strong>Date d'entrée</strong><br />
	<strong>Date de sortie</strong><br />
	<strong>Allocations (CAF)</strong><br />
	<strong>Loyer</strong><br />
	<strong>Internet</strong><br />
	<strong>Solde (à payer)</strong><br />
</div>
<div class="col-sm-6 col-md-6">
	{{showTenant.tenant.birthdate | date:'d/M/y'}} <br />
	0{{showTenant.tenant.phone}} <br />
	0{{showTenant.tenant.parentsphone}} <br />
	<a href="mailto:{{showTenant.tenant.email}}">{{showTenant.tenant.email}}</a> <br />
	{{showTenant.tenant.startdate | date:'d/M/y'}} <br />
	{{showTenant.tenant.enddate | date:'d/M/y'}} <br />
	{{showTenant.tenant.cafamount}} € <br />
	{{showTenant.tenant.rent}} € <br />
	{{ (showTenant.tenant.internet) ? "Oui" : "Non" }} <br />
	{{showTenant.tenant.solde}} € <br />
</div>
